<header>
  <div class="container header-container">
    <div class="logo">
         <img src="https://dynamic.design.com/asset/logo/67396c12-c839-4201-a652-208586565469/logo-search-grid-2x?logoTemplateVersion=1&v=638875614581300000&text=SSS+Academy&layout=auto" alt="Excel Academy Logo">
      <div class="logo-text">SSS <span>Academy</span></div>
    </div>

    <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
        <li><a routerLink="/results" routerLinkActive="active">Results</a></li>
        <li><a routerLink="/faculty" routerLinkActive="active">Faculty</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>
